.signup {
display: flex;
justify-content: center;
  padding: 30px;
  background: #1b1b1b;
  border-radius: 12px;
  height: auto;
  color: #eeeeee;
  font-size: 20px;
}


#text {
 border-radius: 6px; 
 width: auto;
 font-size: 20px;
 padding: 3px;
 margin: 5px 0;
}


.btns {
  display: flex;
  flex-direction: row;
}



#btnSignup, #btnLogin {
  color: white;
  background: orangered;
  border-radius: 15px;
  padding: 5px 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto 15px;
  width: 80%;
  font-size: 20px;
  border: 1px solid grey;
  
}